<style>
    .my-drop-zone { border: dotted 3px lightgray; margin: 3px; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

    html, body { height: 100%; }
</style>

<h1>{{title}}</h1>

<div>
<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasDropZoneOver}"
     (fileOver)="fileOverUploader($event)"
     [uploader]="uploader"
     class="well my-drop-zone">
  <div class="uploader-content">
    <div *ngIf="hasFiles">
        <div *ngFor="let item of uploader.queue">
            <strong>{{ item?.file?.name }}</strong>
            <div *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</div>
            <div *ngIf="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
            </div>
            <div class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <div nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        (click)="item.remove(); update()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="!hasFiles">
        Please drop your file here
    </div>
  </div>
</div>
  <div *ngIf="scheduleService.hasSchedule()">
    <button (click)="reoptimize()">Optimize current Schedule (Current value: {{scheduleService.getScheduleValue()}})</button>
    <button (click)="clipBoardIt()">Copy as LaTeX to Clipboard</button>
  </div>
</div>

<div *ngIf="scheduleService.hasSchedule()">
  <schedule-matrix></schedule-matrix>
</div>

<!--
<div *ngIf="schedule">
    <slot *ngFor="let slot of schedule.slots" [slot]="slot"></slot>
</div>-->
